html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: yellow;
    position: relative;
}

.gif {
    width: 70%;
    max-width: 800px; /* Adjust the maximum width based on your preference */
    margin: 0 auto;
}

.gif img {
    width: 100%;
    height: auto;
}

footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

/* Media query for screens wider than 768px (adjust as needed) */
@media (min-width: 769px) {
    .gif {
        max-width: 30%;
    }
}
